<h4 class="text-center">Registre-se e mostre seu pet ao mundo</h4>

<form class="form mt-4">
  <div class="mb-3">
    <input type="text" class="form-control" placeholder="E-mail" />
  </div>
  <div class="mb-3">
    <input type="text" class="form-control" placeholder="Nome Completo" />
  </div>
  <div class="mb-3">
    <input type="text" class="form-control" placeholder="Usuário" />
  </div>
  <div class="mb-3">
    <input type="password" class="form-control" placeholder="Senha" />
  </div>

  <div class="d-grid gap-2">
    <button type="submit" class="btn btn-primary btn-block">Cadastro</button>
  </div>
</form>

<p>Já é usuario? <a routerLink="/">Faça Login</a></p>
