<h4 class="text-center">Registre-se e mostre seu pet ao mundo</h4>

<form class="form mt-4" [formGroup]="novoUsuarioForm" (submit)="cadastrar()">
  <div class="mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="E-mail"
      formControlName="email"
    />
    <app-mensagem
      *ngIf="
        novoUsuarioForm.get('email')?.errors?.required &&
        novoUsuarioForm.get('email')?.touched
      "
      mensagem="E-mail obrigatório"
    ></app-mensagem>
    <app-mensagem
      *ngIf="
        novoUsuarioForm.get('email')?.errors?.email &&
        novoUsuarioForm.get('email')?.touched
      "
      mensagem="E-mail no formato incorreto"
    ></app-mensagem>
  </div>
  <div class="mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Nome Completo"
      formControlName="fullName"
    />
    <app-mensagem
      *ngIf="
        novoUsuarioForm.get('fullName')?.errors &&
        novoUsuarioForm.get('fullName')?.touched
      "
      mensagem="Nome incorreto"
    ></app-mensagem>
  </div>
  <div class="mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Usuário"
      formControlName="userName"
    />
  </div>
  <div class="mb-3">
    <input
      type="password"
      class="form-control"
      placeholder="Senha"
      formControlName="password"
    />
  </div>

  <div class="d-grid gap-2">
    <button type="submit" class="btn btn-primary">Cadastro</button>
  </div>
</form>

<p>Já é usuario? <a routerLink="/">Faça Login</a></p>
